body {
  margin-top: 10%;
}
.main {
  height: 45vh;
  width: 145vh;
  align-items: flex-start;

  background-color: white;
  justify-content: space-between;
  margin: auto;
  color: black;
}
.main-dark {
  height: 45vh;
  width: 145vh;
  align-items: flex-start;

  background-color: black;
  justify-content: space-between;
  margin: auto;
  color: white;
}
.neuromorphic {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.btn {
  width: 5vh;
  text-align: center;
  cursor: pointer;
  box-shadow: 12px 12px 16px 0 rgba(197, 175, 175, 0.25),
    -8px -8px 12px 0 rgba(110, 63, 63, 0.3);
  border-radius: 5px;
  padding: 0.5em;
  display: inline-block;
}
.btn1 {
  width: 8vh;
  height: 5vh;
  text-align: center;
  cursor: pointer;
  box-shadow: 12px 12px 16px 0 rgba(197, 175, 175, 0.25),
    -8px -8px 12px 0 rgba(110, 63, 63, 0.3);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 15px;
  display: inline-block;
}

.backspace,
.tab {
  width: 10vh;
}
.capslock,
.enter {
  width: 15vh;
}
.shift {
  width: 20vh;
}
.ctrl,
.fn,
.win,
.alt {
  width: 7vh;
  height: 4vh;
}
.space {
  width: 80vh;
  height: 5vh;
}
.row {
  max-width: 145vh;
  display: flex;
  margin: 5px 5px 5px 10px;

  justify-content: space-between;
  column-gap: 10px;
}
span {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.up {
  height: 1.5vh;
  margin-left: 50px;
  margin-bottom: 5px;
  font-style: normal;
}
.home {
  height: 1.5vh;
  margin-right: 5px;
}
.down {
  height: 2vh;
  margin-right: 5px;
}
.game {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* switch css */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.button {
  margin-top: 50px;
  margin-left: 30%;
  height: 20px;
}
